
{{#if resume.projects.length}}
<div class="container game-container">
    {{> title value=(orIfNull header "Games & Projects")}}

    {{#each (subset resume.projects start end)}}
        <section class="item" style="margin-bottom: 0px; page-break-inside: avoid;">
            <table class="invisible-table">
                <tr>
                    {{#if image}}
                    <td class="side-image">
                        <div>
                            <img src="{{imagedata image}}" style="{{#if image_css}}{{image_css}}{{/if}}"/>
                        </div>
                    </td>
                    {{/if}}
                    <td class="game-content">
                        {{> section-header name=this.name }}

                        <div class="kojipro-urls">
                            {{#each this.urls}}
                            <a href="{{this.url}}">{{this.name}}</a>{{#unless @last}} <span class="spacer"></span> {{/unless}}
                            {{/each}}
                        </div>

                        {{#if summary}}
                        <div class="summary">{{{filter summary "markdown"}}}</div>
                        {{else if description}}
                        <div class="summary">{{{filter description "markdown"}}}</div>
                        {{/if}}

                        {{#if highlights.length}}
                        <ul>
                            {{#each highlights}}
                            <li>{{{filter . "markdown"}}}</li>
                            {{/each}}
                        </ul>
                        {{/if}}
                    </td>

                </tr>
            </table>
        </section>
    {{/each}}
</div>
{{/if}}