{{#if resume.projects.length}}
<div class="container work-container">
    {{> title value="Projects"}}

    {{#each resume.projects}}
        <section class="item">
            {{#if image}}
                <table class="invisible-table">
                    <tr>
                        <td class="side-image">
                            <div>
                                <img src="{{imagedata image}}" style="{{#if image_css}}{{image_css}}{{/if}}"/>
                            </div>
                        </td>
                        <td>
                            {{> section-header name=this.name }}

                            {{#if summary}}
                            <div class="summary">{{{filter summary "markdown"}}}</div>
                            {{/if}}

                            <div class="kojipro-urls">
                                {{#each this.urls}}
                                <a href="{{this.url}}">{{this.name}}</a>{{#unless @last}} <span class="spacer"></span> {{/unless}}
                                {{/each}}
                            </div>

                            {{#if summary}}
                            {{else if description}}
                            <div class="summary">{{{filter description "markdown"}}}</div>
                            {{/if}}

                            {{#if highlights.length}}
                            <ul>
                                {{#each highlights}}
                                <li>{{{filter . "markdown"}}}</li>
                                {{/each}}
                            </ul>
                            {{/if}}
                        </td>
                    </tr>
                </table>
            {{else}}
                {{> section-header name=this.name }}

                {{#if summary}}
                <div class="summary">{{{filter summary "markdown"}}}</div>
                {{else if description}}
                <div class="summary">{{{filter description "markdown"}}}</div>
                {{/if}}

                {{#if highlights.length}}
                <ul>
                    {{#each highlights}}
                    <li>{{{filter . "markdown"}}}</li>
                    {{/each}}
                </ul>
                {{/if}}
            {{/if}}
        </section>
    {{/each}}
</div>
{{/if}}