{{#if resume.publications.length}}
<div class="container publications-container">
    {{> title value=(orIfNull header "Publications")}}

    {{#each resume.publications}}
    <section class="item">
        {{> section-header name=this.name}}

        {{#if publisher}}
        <h5 class="awarder">{{publisher}}</h5>
        {{/if}}

        <div class="kojipro-urls">
            {{#if this.authors}}
            <span>{{authorString this.authors}}</span>
            {{#if this.urls}}
             <span class="spacer"></span> 
            {{/if}}
            {{/if}}
            {{#each this.urls}}
            <a href="{{this.url}}">{{this.name}}</a>{{#unless @last}} <span class="spacer"></span> {{/unless}}
            {{/each}}
        </div>

        {{#if summary}}
        <div class="summary">{{{filter summary "markdown"}}}</div>
        {{else if description}}
        <div class="summary">{{{filter description "markdown"}}}</div>
        {{/if}}

    </section>
    {{/each}}
</div>
{{/if}}