<div class="section-header clearfix">
    {{#if name}}
    <h3 class="pull-left">
        {{#if prefix}}
            {{prefix}} —
            <i>
            {{#if url}}
                <a href="{{url}}" target="_blank">
                    {{name}} <i class="fa fa-external-link" aria-hidden="true"></i>
                </a>
            {{else}}
                {{name}}
            {{/if}}
            </i>
        {{/if}}
        {{#unless prefix}}
            {{#if url}}
                <a href="{{url}}" target="_blank">
                    {{name}} <i class="fa fa-external-link" aria-hidden="true"></i>
                </a>
            {{else}}
                {{name}}
            {{/if}}
        {{/unless}}
        {{#if postfix}}
            — {{postfix}}
        {{/if}}
    </h3>
    {{/if}}
    <h5 class="italic pull-right">
        {{#if startDate}}
            {{#if endDate}}
                {{#ifEquals startDate endDate}}
                <span class="endDate">{{formatDate startDate}}</span>
                {{else}}
                <span class="startDate">{{formatDate startDate}}</span> - <span class="endDate">{{formatDate endDate}}</span>
                {{/ifEquals}}
            {{else}}
            <span class="startDate">{{formatDate startDate}}</span> - <span class="endDate">Present</span>
            {{/if}}
        {{else if releaseDate}}
            {{formatDate releaseDate}}
        {{else if dateText}}
            {{dateText}}
        {{/if}}
    </h5>
</div>